body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c6c6c6;
    font-size: large;
}
.header {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    padding: 0;
    background-color: #000000;
    opacity: 0.5;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.logo a img {
    height: 40px;
    margin-right: 10px;
    z-index: 3;
}
.logo h2 {
    color: #ffffff;
}
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 3;
}
.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.menu {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    transition: 0.5s;
    background-color: #000000;
}
.menu a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding: 1em;
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;*/
}
.menu li a:hover {
    box-shadow: 0 -5px 0px #fff inset, 500px 0 0 #6f6f6f inset;
    padding: 15px 20px 25px 20px;
}
/*.imagen-principal{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}*/
.main-photo {
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-20%);
    z-index: -1;
}
.principal {
    background-color: #000000;
}
.about {
    display: flex;
    flex-direction: row;
    width: auto;
    color: #000000;
}
.about-conteiner {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
    transition: .2s;
}
.about-conteiner:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.5);
}
.img-about-container {
    display: flexbox;
    place-items: center;
    position: relative;
    margin: 20px;
    padding: 20px;
    width:  300px;
    height: 200px;
}
.h2-title{
    margin: 0;
    padding: auto;
    text-align: center;
}
.parrafo {
    margin: 20px;
    text-align: justify;
    text-justify: inter-word;
}
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.section .conteiner-carrousel {
    width: 100%;
    overflow: hidden;
}
.carrousel {
    display: flex;
    gap: 1.2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 20px;
    width: calc(3 * (300px * 1.2 * 16px));
}
.carrousel::-webkit-scrollbar{
    display: none;
}
.img-carrousel {
    scroll-snap-align: start;
    border-radius: 30px;
    max-height: 200px;
    max-width: 300px;
    flex-shrink: 0;
}
footer {
    background-color: #6f6f6f;
    color: #000000;
    text-align: center;
    padding: 10px;
}

@media all and (max-width: 800px) {
    .menu {
        justify-content: space-around;
    }
}

@media all and (max-width:600px) {
    .menu {
        flex-flow: column wrap;
        padding: 0;
    }
    .menu a {
        text-align: center;
        padding: 10px;
    }
}